
head
  link(rel="stylesheet", href="stylesheets/input.css")
  title='input Page'
  | 	
  meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
  | 	
  script(src="javascriipts/jquery-1.10.2.js")
  |     
  script(src="javascriipts/jquery-migrate-1.2.1.js")
  |  
  script.
      if (datefield.type!="date"){ //if browser doesn't support input type="date", initialize date picker widget:
      jQuery(function($){ //on document.ready
      $('#dateofBirth').datepicker();
      })
      }
        
body
  form#signup(action="inputed", method="get")
    fieldset
      legend='Food details'
      | 			
      | 			
      ol
        li
          label(for="Food_Name") Food Name 
          |  
          | 					
          input#empfirstName(type="text", name="Food_Name", ng-model="empfirstName", placeholder="Food_Name", required="")
        | 			
        | 				
        li
          label(for="Buy_Date") Date of purchase 
          |             
          input#dateofBirth(placeholder="mm/dd/yyyy", value="", type="date", name="Buy_Date", required="")
        |               
        li
          label(for="Expired_date") Expired date  
          |                 
          input#dateofBirth(placeholder="mm/dd/yyyy", value="", type="date", name="Expired_date", required="")
        |                   
        li
          label(for="best_before_date") best before date  
          |                     
          input#dateofBirth(placeholder="mm/dd/yyyy", value="", type="date", name="best_before_date")
        | 			
        | 				
        | 				
        li
          label(for="Food_type") Food type
          | 					
          select#state(name="Food_type")
            option='Meat'
            |                       
            option='Seafood'
            |                       
            option='Egg'
            |                        
            option='Dairy'
            |                        
            option='Fruits'
            |                        
            option='Vegetables'
            |                        
            option='Drinks'
    | 		
    | 		
    | 		
    | 		
    input(type="submit", value="Submit")
